@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--swiper-pagination-bottom: -2px;
}

.align-webkit-center {
	text-align: -webkit-center;
}

.h-fill-available {
	height: -webkit-fill-available;
}

.quick_grow_button:active {
	/* animation css */
	animation-name: quick_grow_button;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes quick_grow_button {
	from {
		transform: scale(1);
	}

	to {
		transform: scale(1.1);
	}
}